p {
  color: orange;
  background-color: ;
  font-size: 16px;
  margin: 5px;
}

a {
    text-decoration: none;
}

section{
	display: inline-block;
	width:80%;
	height:200vh;
	overflow: auto;
}

/* comment */
/* comment */
/* comment */
/* display: inline-block */
/* rgba(0, 0, 1, .5) */

body { margin:0; padding:0;}
header, footer { background:grey; margin-bottom:0px; text-align:center; padding:0px 0px;  color:grey;}
footer { clear:both;}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  outline-style: solid;
  outline-color: coral;
  border-radius: 25px;
}

.grid-item {
  background-color: white;
  border: 1px solid coral;
  text-align: center;
  border-radius: 25px;
}

.navL{
	box-sizing:border-box;
	color:#06425C;
	background-color:#486B02;
	display: inline-block;
	width: 15%;
	min-width: 125px;
	margin-right:15px;
	height:200vh;
	overflow: auto;
}

.navLa{
	display:block;
	line-height: 45px;
	height:45px;
	color: #FFFFFF;
	background-color:#486B02;
	text-decoration: none;
	background-color:#486B02;
	padding-left: 0px;
	margin:10px 0 10px 5px;
}

.navLul {
  list-style: none;
  background-color: #486B02;
  text-align: center;
  padding: 0;
  margin: 0;
}





.navTul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.navTli {
    width: 20%;
    height: 50px;
    line-height: 50px;
    font-size: 140%;
    display: inline-block;
}



nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}



/* Sub Menus */
nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}

nav li:hover ul {
   display: block;
  
}

nav li ul li {
   display: block;
}
